@mixin flexbox($j, $a, $f)
   display: flex
   justify-content: $j
   align-items: $a
   flex-direction: $f

@mixin border
   border: 5px solid
   animation: border infinite 5s

@keyframes border
   0%
      border-image: linear-gradient(45deg, #31b4d0, transparent) 1

   45%
      border-image: linear-gradient(45deg, #3131d0, transparent) 1

   75%
      border-image: linear-gradient(45deg, #ebad28, transparent) 1

   100%
      border-image: linear-gradient(45deg, #31b4d0, transparent) 1

@mixin colorSvg
   animation: color infinite 8s

@keyframes color
   0%
      color: #30f8d2

   50%
      color: #e31c5e

   100%
      color: #30f8d2
